/* index.css */

/* Секция Hero с длинным описанием */
.hero {
  margin: 40px 0;
  padding: 20px;
  background-color: #292942;
  border-radius: 10px;
}

.hero-content {
  max-width: 800px;
  margin: auto;
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: justify;
}

.hero-content h2 {
  font-size: 2.4rem;
  margin-bottom: 20px;
  color: #ffcc00;
  text-align: center;
}

.hero-content p {
  margin: 20px 0;
}

/* Стили для встроенных изображений в тексте */
.hero-screen-inline {
  width: 200px;
  border-radius: 10px;
  transition: transform 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin: 10px 15px;
}

.hero-screen-inline:hover {
  transform: scale(1.05);
}

/* Поворот для изображений */
.rotate-left {
  transform: rotate(-5deg);
  float: left;
  margin: 10px 15px 10px 0;
}

.rotate-right {
  transform: rotate(5deg);
  float: right;
  margin: 10px 0 10px 15px;
}

/* Стили для последнего скрина, чтобы он не выходил за рамки */
.last-screen {
  display: block;
  float: none;
  margin: 30px auto;
  width: 250px; /* Здесь можно подстроить размер по желанию */
}

/* Сброс обтекания после последнего абзаца */
.hero-content p:last-of-type {
  clear: both;
}
